## Python Data Types

Data types specify the different sizes and values that can be stored in the variable. For example, Python stores numbers, strings, and a list of values using different data types.

Python is a dynamically typed language; therefore, we do not need to specify the variableâ€™s type while declaring it. Whatever value we assign to the variable based on that data type will be automatically assigned. For example, name = 'Jessa' here Python will store the name variable as a str data type.

No matter what value is stored in a variable (object), a variable can be any type like int, float, str, list, set, tuple, dict, bool, etc.

* Numeric: int, float, and complex
* Sequence: String, list, and tuple
* Set
* Dictionary (dict)

To check the data type of variable use the built-in function type()  and isinstance().

* The type() function returns the data type of the variable
* The isinstance() function checks whether an object belongs to a particular class.

### Str data type

In Python, A string is a sequence of characters enclosed within a single quote or double quote. These characters could be anything like letters, numbers, or special symbols enclosed within double quotation marks. For example, "Deepali" is a string.

The string type in Python is represented using a str class.

To work with text or character data in Python, we use Strings. Once a string is created, we can do many operations on it, such as searching inside it, creating a substring from it, and splitting it.

In [ ]:
raw = r'this\t\n and that'
print (raw)

In [ ]:
raw = 'this\t is \n and that is'
print (raw)

In [ ]:
double = "It was the best of times.It was the worst of times."
print (double)

In [ ]:
double = "It was the best of times."
"It was the worst of times."
print (double)

In [ ]:
multi = '''It was the best of times.
 It was the worst of times.'''
print (multi)

#### String Methods
Here are some of the most common string methods. A method is like a function, but it runs "on" an object. If the variable s is a string, then the code s.lower() runs the lower() method on that string object and returns the result (this idea of a method running on an object is one of the basic ideas that make up Object Oriented Programming, OOP). Here are some of the most common string methods:

In [ ]:
# Sample string
s = "  Hello, World!  "

# 1. s.lower() and s.upper()
print("Lowercase:", s.lower())  # Converts the string to lowercase
print("Uppercase:", s.upper())  # Converts the string to uppercase

In [ ]:
# 2. s.strip()
print("Stripped:", s.strip())  # Removes whitespace from the start and end

In [ ]:
print('hello','hi')

In [ ]:
# 3. s.isalpha(), s.isdigit(), and s.isspace()
print("Is 'Hello' alphabetic?", "Hello".isalpha())  # True, all characters are letters
print("Is '12345' numeric?", "12345".isdigit())     # True, all characters are digits
print("Is '   ' whitespace?", "   ".isspace())      # True, all characters are whitespace

In [ ]:
s

In [ ]:
s.startswith("  Hello")

In [ ]:
s.endswith("World!  ")

In [ ]:
# 4. s.startswith() and s.endswith()
print(s)
print("Starts with '  Hello'?", s.startswith("  Hello"))  # True
print("Ends with 'World!  '?", s.endswith("World!  "))    # True

In [ ]:
s.find("World")

In [ ]:
# 5. s.find()
print(s)
print("Index of 'World':", s.find("World"))  # Returns 9 (first occurrence)

next time :

In [ ]:
# 6. s.replace()
print(s)
print("Replace 'World' with 'Python':", s.replace("World", "Python"))  # Replaces 'World' with 'Python'

In [ ]:
# 7. s.split()
csv_string = "aaa,bbb,ccc"
print("Split by comma:", csv_string.split(","))  # ['aaa', 'bbb', 'ccc']

In [ ]:
# Special case: split by whitespace
print(s)
print("Split by whitespace:", s.split())  # ['Hello,', 'World!']

In [ ]:
# 8. s.join()
words = ["Python", "is", "fun"]
print("Join with '---':", "---".join(words))  # 'Python---is---fun'
print("Join with ' ':", " ".join(words))  # 'Python---is---fun'

#### String Slices

The "slice" syntax is a handy way to refer to sub-parts of sequences -- typically strings and lists. The slice s[start:end] is the elements beginning at start and extending up to but not including end. Suppose we have s = "Hello"

In [ ]:
s='Hello'
s[1:4]

In [ ]:
s[1:]

In [ ]:
s[:]

In [ ]:
s[1:100]

In [ ]:
s[-1]

In [ ]:
s[-4]

In [ ]:
s[:-3]

In [ ]:
s[-3:]

In [ ]:
s= "hello dear students"
#   0123456789
print(len(s))

In [ ]:
result = s[1:11:1] # pas
print(result)

In [ ]:
result = s[1:11:2]
print(result)

In [ ]:
result = s[11:0:-1]
print(result)

In [ ]:
result = s[11:0:-2]
print(result)

In [ ]:
s[::] # par dÃ©faut il prend dÃ©but, fin de la chaine, pas =1

In [ ]:
# reverse
s = "apple"
result = s[::-1]
print(result)

Note: The string is **immutable**, i.e., it can not be changed once defined. You need to create a copy of it if you want to modify it. This non-changeable behavior is called immutability.

In [ ]:
# lets try to change 4th charcter of "name" str
name = "Deepali"
name[4] = "r"

In [ ]:
name = "Deepali"
name = "hello" # assignment

In [ ]:
name = name + " hi" # it's an assignment !!!
print(name)

### Int data type

Python uses the int data type to represent whole integer values. For example, we can use the int data type to store the roll number of a student. The Integer type in Python is represented using a int class.

You can store positive and negative integer numbers of any length such as 235, -758, 235689741.

#### We can create an integer variable using the two ways

* Directly assigning an integer value to a variable
* Using a int() class.

In [ ]:
# store int value
roll_no = 33
# display roll no
print("Roll number is:", roll_no)
# output 33
print(type(roll_no))
# output class 'int'

# store integer using int() class
id = int(25)
print(id)  # 25
print(type(id))  # class 'int'

### Float data type

To represent floating-point values or decimal values, we can use the float data type. For example, if we want to store the salary, we can use the float type.

The float type in Python is represented using a float class.

### We can create a float variable using the two ways

* Directly assigning a float value to a variable
* Using a float() class.

In [ ]:
# store a floating-point value
emp_salary = 8000.456
print("Salary is :", emp_salary)  # 8000.456
print(type(emp_salary))  # class 'float'

# store a floating-point value using float() class
num = float(54.75)
print(num)  # 54.75
print(type(num))  # class 'float'

### Complex data type

A complex number is a number with a real and an imaginary component represented as a+bj where a and b contain integers or floating-point values.

The complex type is generally used in scientific applications and electrical engineering applications. If we want to declare a complex value, then we can use the a+bj form. See the following example.

In [ ]:
x = 9 + 8j  # both value are int type
y = 10 + 4.5j  # one int and one float
z = 11.2 + 1.2j  # both value are float type
print(type(x))  # class 'complex'>

print(x)  # (9+8j)
print(y)  # (10+4.5j)
print(z)  # (11.2+1.2j)

The real part of the complex number is represented using an integer value. The integer value can be in the form of either decimal, float, binary, or hexadecimal. But the imaginary part should be represented using the decimal form only. If we are trying to represent an imaginary part as binary, hex, or octal, we will get an error.

## List data type

The Python List is an ordered collection (also known as a sequence ) of elements. List elements can be accessed, iterated, and removed according to the order they inserted at the creation time.


We use the list data type to represent groups of the element as a single entity.  For example: If we want to store all studentâ€™s names, we can use list type.

##### The list can contain data of all data types such as  int, float, string
##### Duplicates elements are allowed in the list
##### The list is **mutable** which means we can modify the value of list elements
##### We can create a list using the two ways

* By enclosing elements in the square brackets [].
* Using a list() class.

In [ ]:
A = [ ] # This is a blank list variable
B = [1, 23, 45, 67] # this list creates an initial list of 4 numbers.
C = [2, 4, 'john',4.3,5.12] # lists can contain different variable types.
D = [1,2,4,1,2,3,5]

print(A)
print(B)
print(C)
print(D)

All lists in Python are zero-based indexed. When referencing a member or the length of a list the number of list elements is always the number shown plus one.

In [ ]:
mylist =  [ "john", "Deepali", " Raj " , "Neelam"]

b = len(mylist) ## This will return the length of the list which is 4. The index is 0, 1, 2, 3,4.

print("total element in mylist are : ",b)

In [ ]:
print(mylist[1])     ## This will return the value at index 1, which is "Deepali"
print(mylist[0:2])  ## This will return the first 2 elements in the list.

You can assign data to a specific element of the list using an index into the list. The list index starts at zero. Data can be assigned to the elements of an array as follows:

In [ ]:
mylist = [0,1,2,3,4]
mylist[0] = 'John' # mylist[0] => 0 here is the index not the value in the list !!
mylist[1] = 'Deepali'
mylist[2] = 'Raj'
mylist[3] = 'Neelam'
print( mylist[1])

In [ ]:
mylist = ['Deepali', 'Rani', 'Harsh']
mylist.append('shemp')         ## append elem at end
print (mylist)

In [ ]:
mylist.insert(0, 'xxx')        ## insert elem at index 0

In [ ]:
mylist.extend(['yyy', 'zzz'])  ## add list of elems at end
print (mylist)

In [ ]:
print (mylist.index('Rani'))

In [ ]:
mylist.remove('Rani')         ## search and remove that element

In [ ]:
print(mylist)

In [ ]:
mylist.pop(1)

In [ ]:
print (mylist)

### Common error: note that the above methods do not *return* the modified list, they just modify the original list.

In [ ]:
mylist = [1, 2, 3]
print(mylist.append(4))   ## NO, does not work, append() returns None

In [ ]:
mylist

In [ ]:
mylist.append(4)
print(mylist)  ## [1, 2, 3, 4]

## List Build Up

One common pattern is to start a list a the empty list [], then use append() or extend() to add elements to it:

In [ ]:
mylist = []          ## Start as the empty list
mylist.append('a')   ## Use append() to add elements
mylist.append('b')

In [ ]:
mylist

### List Slice

Slices work on lists just as with strings, and can also be used to change sub-parts of the list.

In [ ]:
mylist = ['a', 'b', 'c', 'd']
print(mylist[1:-1])   ## dernier entier de l'intervalle exclus !!

In [ ]:
mylist[0]

In [ ]:
mylist[0:2] = 'z'    ## replace ['a', 'b'] with ['z']
print (mylist)         ## ['z', 'c', 'd']

### Tuple data type

Tuples are ordered collections of elements that are unchangeable. The tuple is the same as the list, except the tuple is immutable means we canâ€™t modify the tuple once created.

In other words, we can say a tuple is a read-only version of the list.

For example: If you want to store the roll numbers of students that you donâ€™t change, you can use the tuple data type.

Note: Tuple maintains the insertion order and also, allows us to store duplicate elements.

We can create a tuple using the two ways

* 1. By enclosing elements in the parenthesis ()
* 2. Using a tuple() class.

In [ ]:
# create a tuple
my_tuple = (11, 24, 56, 88, 78)
print(my_tuple)
print(type(my_tuple))

In [ ]:
# Accessing 3rd element of a tuple
print(my_tuple[2])

# slice a tuple
print(my_tuple[2:7])

In [ ]:
# create a tuple using a tuple() class
my_tuple2 = tuple((10, 20, 30, 40))
print(my_tuple2)

##### Tuple is **immutable**
A tuple is immutable means once we create a tuple, we canâ€™t modify it

In [ ]:
# create a tuple
my_tuple = (11, 24, 56, 88, 78)

# modify 2nd element of tuple
my_tuple[1] = 35
print(my_tuple)

### Dict data type

In Python, dictionaries are unordered collections of unique values stored in (Key-Value) pairs. Use a dictionary data type to store data as a key-value pair.

The dictionary type is represented using a dict class. For example, If you want to store the name and roll number of all students, then you can use the dict type.

In a dictionary, duplicate keys are not allowed, but the value can be duplicated. If we try to insert a value with a duplicate key, the old value will be replaced with the new value.

Dictionary has some characteristics which are listed below:

A heterogeneous (i.e., str, list, tuple) elements are allowed for both key and value in a dictionary.
The dictionary is **mutable** which means we can modify its items
Dictionary is unordered so we canâ€™t perform indexing and slicing

We can create a dictionary using the two ways

* 1. By enclosing key and values in the curly brackets {}
* 2. Using a dict() class.

In [ ]:
# create a dictionary
my_dict = {1: "Deepali", 2: "Neelam", 3: "Jaya"}

# display dictionary
print(my_dict)
print(type(my_dict))

In [ ]:
# create a dictionary using a dit class
my_dict = dict({1: "Deepali", 2: "Neelam", 3: "Jaya"})

# display dictionary
print(my_dict)
print(type(my_dict))

In [ ]:
# access value using a key name
print(my_dict[1])

In [ ]:
# change the value of a key
my_dict[1] = "Kelly"
print(my_dict[1])

In [ ]:
# create a dictionary
my_dict = {'a1': "Deepali", 'a2': "Neelam", 'a3': "Jaya"}

# display dictionary
print(my_dict)
print(type(my_dict))

In [ ]:
person = {"name": "Alice", "age": 25, "city": "Paris"}
keys = person.keys()
print(keys)

In [ ]:
values = person.values()
print(values)

In [ ]:
items = person.items()
print(items)

In [ ]:
person = {"name": "Alice", "age": 25}

# Key exists
print(person.get("name"))

# Key does not exist
print(person.get("city"))
print(person.get("city", "Not Found"))

In [ ]:
person = {"name": "Alice", "age": 25}

# Update with new key-value pairs
person.update({"city": "Paris", "age": 26})

print(person)

In [ ]:
person = {"name": "Alice", "age": 25}

# Remove the "age" key and get its value
age = person.pop("age")

print(age)
print(person)

In [ ]:
person = {"name": "Alice", "age": 25, "city": "Paris"}

last_item = person.popitem()

print(last_item)
print(person)

In [ ]:
person = {"name": "Alice", "age": 25}

person.clear()

print(person)

In [ ]:
person = {"name": "Alice", "age": 25}

copy_person = person.copy()

print(copy_person)

### Set data type

In Python, a set is an unordered collection of data items that are unique. In other words, Python Set is a collection of elements (Or objects) that contains no duplicate elements.

In Python, the Set data type used to represent a group of unique elements as a single entity. For example, If we want to store student ID numbers, we can use the set data type.

The Set data type in Python is represented using a set class.

We can create a Set using the two ways

* By enclosing values in the curly brackets {}
* Using a set() class.
The set data type has the following characteristics.

* It is mutable which means we can change set items
* Duplicate elements are not allowed
* Heterogeneous (values of all data types) elements are allowed
* Insertion order of elements is not preserved, so we canâ€™t perform indexing on a Set

In [ ]:
# create a set using curly brackets{,}
my_set = {100, 25.75, "Deepali"}
print(my_set)
print(type(my_set))

In [ ]:
my_set = {100, 25.75 ,2 , 1, 2, 1, 100}
print(my_set)

In [ ]:
# add element to set
my_set.add(300)
print(my_set)

In [ ]:
# remove element from set
my_set.remove(100)
print(my_set)

In [ ]:
# remove element from set
my_set.remove(20)
print(my_set)

In [ ]:
my_set.discard(20)
print(my_set)

In [ ]:
animals = {"cat", "dog", "bird"}
animals.clear()

print(animals)

In [ ]:
numbers = {1, 2}
numbers.update([3, 4, 5])

print(numbers)  # Output: {1, 2, 3, 4, 5}

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

result = set1.union(set2)

print(result)  # Output: {1, 2, 3, 4, 5}

In [ ]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}

result = set1.intersection(set2)

print(result)  # Output: {2, 3}

In [ ]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}

result = set1.difference(set2)

print(result)  # Output: {1}

#  built-in functions that work across different data types

## len

In [ ]:
string_var = "hello"
print(len(string_var))

list_var = [1, 2, 3]
print(len(list_var))

tuple_var = (1, 2, 3)
print(len(tuple_var))

set_var = {1, 2, 3}
print(len(set_var))

dict_var = {"a": 1, "b": 2}
print(len(dict_var))

## Min

In [ ]:
string_var = "hello"
print(min(string_var))

list_var = [4, 2, 8]
print(min(list_var))

tuple_var = (4, 2, 8)
print(min(tuple_var))

set_var = {4, 2, 8}
print(min(set_var))

dict_var = {"a": 1, "b": 2, "c": 3}
print(min(dict_var))

## Max

In [ ]:
string_var = "hello"
print(max(string_var))

list_var = [4, 2, 8]
print(max(list_var))

tuple_var = (4, 2, 8)
print(max(tuple_var))

set_var = {4, 2, 8}
print(max(set_var))

dict_var = {"a": 1, "b": 2, "c": 3}
print(max(dict_var))

## Sum

In [ ]:
list_var = [1, 2, 3]
print(sum(list_var))

tuple_var = (1, 2, 3)
print(sum(tuple_var))

set_var = {1, 2, 3}
print(sum(set_var))

## Count

In [ ]:
string_var = "banana"
print(string_var.count("a"))

list_var = [1, 2, 2, 3]
print(list_var.count(2))

tuple_var = (1, 2, 2, 3)
print(tuple_var.count(2))

# Exercises

Ex 1 :
Create a string text = "Data Types in Python". Perform the following:

Convert it to uppercase.

Check if it starts with "Data".

Replace "Python" with "Programming".

Ex 2

Create a list, tuple, set, and dictionary with three elements each.

Add and remove elements (if applicable).

Check if a specific element exists in the collection.

Ex 3

Create a dictionary info = {"name": "Alice", "age": 25, "is_student": True}. Perform the following:

Access and print the values.

Modify the value of age to 30.

Ex 4

Create a list of integers from 1 to 10. Extract the last 5 elements and reverse them. Combine the reversed part with the first 5 elements to create a new list.

Ex 5

Given the string s = "PythonIsFun", extract the substring "Fun" and reverse it.

Ex 6

Given the dictionary person = {"name": "Alice", "age": 25, "city": "Paris"}, create a string that says "Alice is 25 years old" using person dictionary !

Ex 7

Given dict1 = {"a": 1, "b": 2} and dict2 = {"c": 3, "d": 4}, merge them into a single dictionary result.

Ex 8

Given numbers = [4, 7, 2, 9, 5], rearrange the list so that the elements are in ascending order.

Ex 9

Given fruits = ["apple", "banana", "cherry", "date"], extract the second and fourth elements.

Ex 10

1. Given sentence = "I like cats", replace the word "cats" with "dogs".

2. Given the list words = ["Python", "is", "fun"], create a single string where the words are joined by spaces.

3. Given text = "HelloWorld", extract the substring "World" from it.