# Type Conversion

| **From / To** | **`int`**                     | **`float`**                   | **`str`**                  | **`list`**                       | **`tuple`**                      | **`set`**                        | **`dict`**                         |
|---------------|-------------------------------|------------------------------|---------------------------|----------------------------------|----------------------------------|----------------------------------|------------------------------------|
| **`int`**    | `int(x)`                      | `float(x)`                   | `str(x)`                  | `list(str(x))`                   | `tuple(str(x))`                  | `set(str(x))`                    | ❌ Cannot convert directly         |
| **`float`**  | `int(x) (truncates decimal)`  | `float(x)`                   | `str(x)`                  | `list(str(x))`                   | `tuple(str(x))`                  | `set(str(x))`                    | ❌ Cannot convert directly         |
| **`str`**    | `int(x) (if numeric)`         | `float(x) (if numeric)`      | `str(x)`                  | `list(x)`                        | `tuple(x)`                       | `set(x)`                         | ❌ Cannot convert directly         |
| **`list`**   | ❌ Cannot convert directly     | ❌ Cannot convert directly    | `str(x)`                  | `list(x)`                        | `tuple(x)`                       | `set(x)`                         | ❌ Cannot convert directly         |
| **`tuple`**  | ❌ Cannot convert directly     | ❌ Cannot convert directly    | `str(x)`                  | `list(x)`                        | `tuple(x)`                       | `set(x)`                         | ❌ Cannot convert directly         |
| **`set`**    | ❌ Cannot convert directly     | ❌ Cannot convert directly    | `str(x)`                  | `list(x)`                        | `tuple(x)`                       | `set(x)`                         | ❌ Cannot convert directly         |
| **`dict`**   | ❌ Cannot convert directly     | ❌ Cannot convert directly    | `str(x)`                  | `list(x.keys())`                 | `tuple(x.keys())`                | `set(x.keys())`                  | `dict(x)`                         |

In [ ]:
int(5.2)

In [ ]:
int(5.9)

In [ ]:
x={'a':1,'b':2}
print(list(x.values()))
print(list(x.keys()))

In [ ]:
list(str(1))

 1. Convert int to Other Types

In [ ]:
num = 42

print(float(num))      # 42.0
print(str(num))        # '42'
print(list(str(num)))  # ['4', '2']
print(tuple(str(num))) # ('4', '2')
print(set(str(num)))   # {'4', '2'}

2. Convert float to Other Types

In [ ]:
num = 3.14

print(int(num))        # 3
print(str(num))        # '3.14'
print(list(str(num)))  # ['3', '.', '1', '4']
print(tuple(str(num))) # ('3', '.', '1', '4')
print(set(str(num)))   # {'3', '.', '1', '4'}

3. Convert str to Other Types

In [ ]:
text = "123"

print(int(text))         # 123
print(float(text))       # 123.0
print(list(text))        # ['1', '2', '3']
print(tuple(text))       # ('1', '2', '3')
print(set(text))         # {'1', '2', '3'}

4. Convert list to Other Types

In [ ]:
lst = [1, 2, 3]

print(str(lst))          # '[1, 2, 3]'
print(tuple(lst))        # (1, 2, 3)
print(set(lst))          # {1, 2, 3}

5. Convert tuple to Other Types

In [ ]:
tpl = (1, 2, 3)

print(str(tpl))          # '(1, 2, 3)'
print(list(tpl))         # [1, 2, 3]
print(set(tpl))          # {1, 2, 3}

6. Convert set to Other Types

In [ ]:
s = {1, 2, 3}

print(str(s))            # '{1, 2, 3}'
print(list(s))           # [1, 2, 3]
print(tuple(s))          # (1, 2, 3)

7. Convert dict to Other Types

In [ ]:
d = {"a": 1, "b": 2}

print(str(d))            # "{'a': 1, 'b': 2}"
print(list(d.keys()))    # ['a', 'b']
print(tuple(d.keys()))   # ('a', 'b')
print(set(d.keys()))     # {'a', 'b'}