Iteration statements or loop statements allow us to execute a block of statements as long as the condition is true.

Loops statements are used when we need to run same code again and again, each time with a different value.

In Python Iteration (Loops) statements are of three type :-

1. While Loop

2. For Loop

3. Nested For Loops

#### 1. While Loop In Python

While Loop In Python is used to execute a block of statement as long as a given condition is true. And when the condition is false, the control will come out of the loop.

The condition is checked every time at the beginning of the loop.

In [ ]:
##### While Loop Syntax

# while (condition):
#     statements

In [ ]:
x = 0
while(x<5):
    print(x)
    x=x+1
print('done')
print(x)

#### While Loop With Else In Python
The else part is executed if the condition in the while loop becomes False.

In [ ]:
x = 1
while (x < 5):
   print('inside while loop value of x is ',x)
   x = x + 1
else:
   print('inside else value of x is ', x)

The break statement is used to exit a loop prematurely. When break is encountered, the loop stops immediately, and control moves to the next line of code after the loop.

In [ ]:
x=0
while True: # boucle infinie
    print(x)
    x=x+1
    if x==5:
        break

In [ ]:
while True :
  a=int(input("give me your age "))
  if a>0 and a<120:
    break

In [ ]:
a

In [ ]:
# delete a variable
del a

In [ ]:
a

#### 2. For Loop In Python

In [ ]:
# syntax
# for val in sequence:
#     statements

In [ ]:
for i in range(1,5): # 1,2,3,4
    print(i)

##### The range() Function In Python
The range() function is a built-in that is used to iterate over a sequence of numbers.

* Syntax Of range() Function:
> range(start, stop[, step])

##### The range() Function Parameters
* start: Starting number of the sequence.
* stop: Generate numbers up to, but not including this number.
* step(Optional): Determines the increment between each numbers in the sequence.

In [ ]:
# Example 1 of range() function
for i in range(10): #
    print(i)

In [ ]:
# Example 2 of range() function
for i in range(2,9):
    print(i)

In [ ]:
# Example 3 of range() function using step parameter
for i in range(2,9,2):
    print(i)

In [ ]:
# Example 4 of range() function
for i in range(0,-10,-2):
    print(i)

In [ ]:
# Example to iterate a list using for loop
my_list = [42, 61, 47, 46, 91, 18]
for i in my_list: # i is not the index here !!!!!!!!!!!!!!!!!!!
    print(i)

In [ ]:
# Example to iterate a set using for loop
my_set = {42, 61, 47, 46, 91, 18}  # Remember : their is no order in a set !!!
for i in my_set:
    print(i)

### 3. Nested For loops

Nested for is nothing but a for loop inside another for a loop.

In [ ]:
rows = 5
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print("*", end=" ") # print("*")#, end=" ")
    print('')        # After each iteration of the second loop, this prints a newline to move to the next row.

In [ ]:
print('Hello')
print('')
print('Hi')

In [ ]:
data = [ ' Verma' ,  ' raj ' ,  ' Gupta ' ,  ' SaNdeeP ' ]
capitalized = [ a.capitalize()  for a in data ]
print (capitalized)

In [ ]:
data = ['VARMA', 'raj', 'Gupta', 'SaNdeeP']

capitalized = [a.capitalize() for a in data]

print(capitalized)

In [ ]:
data = [ ' Verma' ,  ' raj ' ,  ' Gupta ' ,  ' SaNdeeP ' ]
lower = [ a.lower()  for a in data ]
print (lower)

The break statement => to exit a loop prematurely

In [ ]:
for number in range(1, 6):
    if number == 3:
        print("Breaking the loop.")
        break
    print(f"Number: {number}")
print("Loop ended.")

The continue statement is used to skip the current iteration of the loop and move to the next iteration, without stopping the loop entirely.

In [ ]:
for number in range(1, 6):
    if number == 3:
        # print("Skipping number 3.")
        continue
    print(f"Number: {number}")
print("Loop ended.")

In [ ]:
# list inside list
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
print(matrix)

In [ ]:
print(matrix[0])

In [ ]:
matrix[0][0]

In [ ]:
matrix[-1][-1]

In [ ]:
len(matrix)

In [ ]:
print(matrix)

In [ ]:
for i in range(len(matrix)):
    for j in range(len(matrix[i])):
        print(matrix[i][j])

# Exercises

Ex 1 :
write a Python program to print all even numbers between 1 and 10 using a `for` loop?

Ex 2 :  
write a Python program to check if numbers in a given range are prime (nombre premier) or not, using a `for` loop and user input for the start and end numbers?

A prime number is a whole number greater than 1 that has exactly two distinct factors: 1 and itself. In other words, a prime number can only be divided evenly by 1 and the number itself.

Ex3 : Write a Python program that prints a right-aligned pyramid pattern of numbers, where the number of rows is determined by n = 5, and each row contains the row number repeated with spaces for alignment. As shown in the following image :

![image.png]()

Ex 4 : Write a Python program to generate a list of all negative even numbers between -100 and -1 (inclusive) and print the list.

Ex 5 :  Given the string text = "Data science is amazing!", count how many vowels (a, e, i, o, u) it contains.

Ex 6 : Continuously ask the user to enter a number. For each number, print if it is even or odd. The loop should stop when the user enters 0

Ex 7 : Given the following sentence, find and print the longest word along with its length.

sentence = "Artificial intelligence is transforming the future of technology"

Ex 8 : Given the following string, count the frequency of each character and print the result in a readable format. (use for loop)

string = "banana"

Ex 9 : Given the following 3x3 matrix, transpose it (swap rows with columns) and print the transposed matrix.

In [ ]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

Ex 10 :   

For a given positive integer n = 6, generate and print the Collatz sequence.

The sequence follows these rules:
- If n is even, divide it by 2.
- If n is odd, multiply it by 3 and add 1.
- Repeat until n becomes 1.

Ex 11 : Print the numbers in a 4x4 matrix in a clockwise spiral order of the following matrix :

In [ ]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
    [13, 14, 15, 16]
]