#  What is Function ?

A function is a block of code that only runs when it is called. Python functions return a value using a return statement, if one is specified. A function can be called anywhere after the function has been declared.

By itself, a function does nothing. But, when you need to use a function, you can call it, and the code within the function will be executed.

As our program grows larger and larger, functions make it more organized and manageable.Furthermore, it avoids repetition and makes the code reusable.

**So**,
Python function is a sequence of statements that execute in a certain order, we associate a name with it. This lets us reuse code.

We define a function using the ‘def’ keyword.

## How to Define a Python Function?

**Syntax of Function**

In [ ]:
int=3

In [ ]:
print(int)

In [ ]:
def function_name(parameters):
    """docstring"""
    # statement(s)

In [ ]:
# You can't assign data to python keywords !!

True = 1

Above shown is a function definition that consists of the following components.

1. Keyword `def` that marks the start of the function header.
2. A function name to uniquely identify the function. Function naming follows the same rules of writing identifiers in Python.
3. Parameters (arguments) through which we pass values to a function. They are optional.
4. A colon `(:)` to mark the end of the function header.
5. Optional documentation string (docstring) to describe what the function does.
6. One or more valid python statements that make up the function body. Statements must have the same indentation level (usually 4 spaces).
7. An optional `return` statement to return a value from the function.

In [ ]:
def print_monday():
    print("It's Monday!")  # nothing printed !!! why ??

In [ ]:
def print_monday():
    print("It's Monday!")

print_monday() # we have to call the function by it's names and ()

## Docstrings

The first string after the function header is called the docstring and is short for documentation string. It is briefly used to explain what a function does.

Although optional, documentation is a good programming practice. Unless you can remember what you had for dinner last week, always document your code.

In the above image, we have a docstring immediately below the function header. We generally use triple quotes so that docstring can extend up to multiple lines. This string is available to us as the __doc__ attribute of the function.

In [ ]:
def greet(name):
    """
    This function greets to
    the person passed in as
    a parameter
    """
    print("Hello, " + name + ". Good morning!")

In [ ]:
print(greet('hanen'))

In [ ]:
print(greet.__doc__)

In [ ]:
greet('Paul')

In [ ]:
name = 'Ali'
greet(name)

In [ ]:
n = 'John'
greet(n)

## The return statement
In a function, we use the return statement at the end of the function and it helps us to return the result of the function. This statement terminates the function execution and transfers the result where the function is called.

Note that we cannot use the return statement outside of the function.

It can contain the expression which gets evaluated and the value is returned to the caller function. If the return statement has no expression or does not exist itself in the function then it returns the **None** object.

Consider the following example:

Example 1: Creating Function with Return Statement

In [ ]:
# defining Function

def sum():
    a = 20
    b = 40
    c = a+b
    # print(a)
    return c
    print(b)
      # the function return int, you can store it into a variable or print it !

In [ ]:
sum()

In [ ]:
s=sum()
print(s)

In [ ]:
# calling sum() function in print statement
print("The sum is given by:",sum())

In the above code, we have defined the function named sum, and it has a statement c = a+b, which computes the given values, and the result is returned by the return statement to the caller function.

Example 2: Creating function without return statement

In [ ]:
def sum():
    a = 20
    b = 40
    c = a+b
    print(a,b,c)

In [ ]:
sum()

In [ ]:
s=sum()

In [ ]:
print(s)

In [ ]:
# calling sum() function in print statment
print(sum())

In the above code, we have defined the same function but this time we use it without the return statement and we have observed that the sum() function returned the None object to the caller function.

Example 3:

In [ ]:
def absolute_value(num = 1):
    """This function returns the absolute
    value of the entered number"""
    if num >= 0:
        return num
    else:
        return -num


print(absolute_value(2))
print(absolute_value(-4))

In [ ]:
# var = 3
absolute_value()

### We all know the **len** pre-built function !!

In [ ]:
a = [1,2,3,4]
len(a)

In [ ]:
l=[]
len(l)

In [ ]:
def length(liste):
    s = 0
    for i in liste:
        s+=1 # s= s+1
    return(s)
##################

In [ ]:
length(a)

In [ ]:
print(length(a))

## Types of Functions
Basically, we can divide functions into the following two types:

1. Built-in functions - Functions that are built into Python.
2. User-defined functions - Functions defined by the users themselves.

### 1. Built-in functions

Python has several functions that are readily available for use. These functions are called built-in functions.

In [ ]:
print("hello,",1)

In [ ]:
# help(int)

In [ ]:
bool(None)

|Function | Description|
|:---------|:----------|
|abs()	|Returns the absolute value of a number
bool()	|Returns the boolean value of the specified object
complex()	|Returns a complex number
dict()	|Returns a dictionary (Array)
divmod()	|Returns the quotient and the remainder when argument1 is divided by argument2
enumerate()|	Takes a collection (e.g. a tuple) and returns it as an enumerate object
filter()|	Use a filter function to exclude items in an iterable object
float()	|Returns a floating point number
format()|	Formats a specified value
help()	|Executes the built-in help system
input()	|Allowing user input
int()	|Returns an integer number
len()	|Returns the length of an object
list()	|Returns a list
map()	|Returns the specified iterator with the specified function applied to each item
max()	|Returns the largest item in an iterable
min()	|Returns the smallest item in an iterable
open()	|Opens a file and returns a file object
pow()	|Returns the value of x to the power of y
print()	|Prints to the standard output device
range()	|Returns a sequence of numbers, starting from 0 and increments by 1 (by default)
repr()	|Returns a readable version of an object
reversed()|	Returns a reversed iterator
round()	|Rounds a numbers
set()	|Returns a new set object
slice()	|Returns a slice object
sorted()	|Returns a sorted list
str()	|Returns a string object
sum()	|Sums the items of an iterator
super()	|Returns an object that represents the parent class
tuple()	|Returns a tuple
type()|	Returns the type of an object
zip()	|Returns an iterator, from two or more iterators

### 2. User defined Functions

#### Example of a user-defined function

In [ ]:
# Program to demonstrate the
# use of user defined functions

def sum(a,b):
    total = a + b
    return total

x = 10
y = 20

print("The sum of",x,"and",y,"is:",sum(x, y))

In [ ]:
sum()

In [ ]:
sum(1)

## Python Function Arguments

#### Types of Python Function Arguments

### 1. Default Argument in Python
Python Program arguments can have default values. We assign a default value to an argument using the assignment operator in python(=).

When we call a function without a value for an argument, its default value (as mentioned) is used.

In [ ]:
def greeting(name='User'):
    print(f"Hello, {name}")

In [ ]:
greeting('John')

In [ ]:
greeting()

Here, when we call greeting() without an argument, the name takes on its default value- ‘User’.

In [ ]:
def sum(a=1,b):
    return a+b

In [ ]:
def sum(b,a=1):
    return a+b

In [ ]:
sum(2,3)

In [ ]:
sum(1)

### 2. Python Keyword Arguments
With keyword arguments in python, we can change the order of passing the arguments without any consequences.

In [ ]:
def divide(a,b):
    print(a)
    print(b)
    return a/b

In [ ]:
divide(7,2)

We can call this function with arguments in any order, as long as we specify which value goes into what.

In [ ]:
divide(a=1,b=2)

In [ ]:
divide(b=2,a=1)

As you can see, both give us the same thing. These are keyword python function arguments.

But if you try to put a positional argument after a keyword argument, it will throw Python exception of SyntaxError.

In [ ]:
divide(1,b=2)

In [ ]:
divide(a=2,1)

### 3. Python Arbitrary Arguments
You may not always know how many arguments you’ll get. In that case, you use an asterisk(*) before an argument name.

In [ ]:
def sayhello(*names):
    # names=list(names)
    # print(names)
    # print(names)
    for name in list(names):
        print(f"Hello, {name}")

And then when you call the function with a number of arguments, they get wrapped into a Python tuple.

We iterate over them using the for loop in python.

In [ ]:
sayhello('Deepali','Neelam','Harsh')

#### A Note: Parameters vs. Arguments
The terms parameter and argument refer to the same thing: passing information to a function. But, there is a subtle difference between the two.

A parameter is the variable inside the parenthesis in a function. An argument is the value that is passed to a function when it is called. So, in our last example, “a” and “b” are parameters, and 7 and 2 are arguments.

##### Python Function to find the sum of two variables:

In [ ]:
num1 = float(input("Enter value of num1 : "))

In [ ]:
del int

In [ ]:
# defining a function with sum of two variables

def sum(num1,num2):
    return num1 + num2

# taking value from a user as an input

num1 = int(input("Enter value of num1 : "))
num2 = int(input("Enter value of num2 : "))

# calculating and printing sum of num1 and num2

print("Sum = ",sum(num1,num2))

2### Pass

The `pass` statement in Python is a placeholder that does nothing. It's used when you need to define a function, class, or block of code that you intend to implement later but don't want to leave it empty (which would cause a syntax error).

In [ ]:
def my_function():
    pass  # Placeholder, does nothing

In [ ]:
def my_function():

x= 1

In [ ]:
def my_function():
    pass  # Placeholder, does nothing

In [ ]:
# To create an empty class, loop, or conditional statement.
if True:
    pass  # Do nothing

In [ ]:
if True:

When Python encounters `pass`, it simply skips it and moves on to the next statement. It doesn’t produce any output or perform any operation.

#  Global , Local variables

In Python, a variable declared outside of the function or in global scope is known as a global variable. This means that a global variable can be accessed inside or outside of the function.

Let's see an example of how a global variable is created in Python.

### Example 1: Create a Global Variable

In [ ]:
x = "global"
for i in range(3):
      x = "oumaima"
      print("x inside:", x)

In [ ]:
x = "global"

def foo():
    print("x inside:", x)



foo()
# print("x outside:", x)

In the above code, we created x as a global variable and defined a foo() to print the global variable x. Finally, we call the foo() which will print the value of x.

What if you want to change the value of x inside a function?

In [ ]:
x = "serine"

def foo():
    x = x * 2
    print(x)

foo()

In [ ]:
del y

In [ ]:
x = "global"

def foo():
    y=x
    y = y * 2
    print(y)
    print(x)

foo()
print(x)
# print(y)

In [ ]:
x = "serine"

def foo():
    global x
    x = x * 2
    print(x)

foo()
print(x)

The output shows an error because Python treats x as a local variable and x is also not defined inside foo().

To make this work, we use the global keyword

### What is the global keyword
In Python, global keyword allows you to modify the variable outside of the current scope. It is used to create a global variable and make changes to the variable in a local context.

**Rules of global Keyword**<br>
The basic rules for global keyword in Python are:

1. When we create a variable inside a function, it is local by default.
2. When we define a variable outside of a function, it is `global` by default. You don't have to use `global keyword`.
3. We use `global keyword` to read and write a `global variable` inside a function.
4. Use of `global keyword` outside a function has no effect.

#### Use of global Keyword

##### Example 1: Accessing global Variable From Inside a Function

In [ ]:
a = 1 # global variable

def add():
    print(a)

add()

However, we may have some scenarios where we need to modify the global variable from inside a function.

##### Example 2: Modifying Global Variable From Inside the Function

In [ ]:
a = 1

def add():
    global a
    a = a+2 # increment a by 2
    print(a)

add()

This is because we can only access the global variable but cannot modify it from inside the function.

The solution for this is to use the global keyword.

##### Example 3: Changing Global Variable From Inside a Function using global

In [ ]:
c = 0 # global variable

def add():
    global c
    c = c + 2 # increment by 2
    print("Inside add():", c)

add()
print("In main:", c)

In the above program, we define c as a global keyword inside the add() function.

Then, we increment the variable c by 1, i.e c = c + 2. After that, we call the add() function. Finally, we print the global variable c.

As we can see, change also occurred on the global variable outside the function, c = 2.

###  Local Variables

A variable declared inside the function's body or in the local scope is known as a local variable.

Example : Accessing local variable outside the scope

In [ ]:
del s

In [ ]:
def foo():
    # global s
    s = "Local"
foo()
print(s) # s is a local variable, so you can't access it

The output shows an error because we are trying to access a local variable y in a global scope whereas the local variable only works inside foo() or local scope.

##### Example : Create a Local Variable
Normally, we declare a variable inside the function to create a local variable.

In [ ]:
def foo():
    s = "Local"
    print(s)
foo()
print(s)

In [ ]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

# Function Practice Exercises (Part 1)

Ex 1 : Write a Python program to find the maximum from the given three numbers.

Ex 2 : Write a Python program to calculate the multiplication of all the numbers present in a list.

Ex 3 : Write a Python program that takes a string as an input and calculates the number of upper case and lower case letters present in the string.

# Function Practice Exercises (Part 2)

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [ ]:
def lesser_of_two_evens(a,b):
    pass

In [ ]:
# Check
lesser_of_two_evens(2,4)

In [ ]:
# Check
lesser_of_two_evens(2,5)

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [ ]:
def animal_crackers(text):
    pass

In [ ]:
# Check
animal_crackers('Levelheaded Llama')

In [ ]:
# Check
animal_crackers('Crazy Kangaroo')

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [ ]:
def makes_twenty(n1,n2):
    pass

In [ ]:
# Check
makes_twenty(20,10)

In [ ]:
# Check
makes_twenty(2,3)

## LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [ ]:
def old_macdonald(name):
    pass

In [ ]:
# Check
old_macdonald('macdonald')

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [ ]:
def master_yoda(text):
    pass

In [ ]:
# Check
master_yoda('I am home')

In [ ]:
# Check
master_yoda('We are ready')

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [ ]:
def almost_there(n):
    pass

In [ ]:
# Check
almost_there(104)

In [ ]:
# Check
almost_there(150)

In [ ]:
# Check
almost_there(209)

## LEVEL 2 PROBLEMS

#### FIND 33:

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [ ]:
def has_33(nums):
    pass

In [ ]:
# Check
has_33([1, 3, 3])

In [ ]:
# Check
has_33([1, 3, 1, 3])

In [ ]:
# Check
has_33([3, 1, 3])

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [ ]:
def paper_doll(text):
    pass

In [ ]:
# Check
paper_doll('Hello')

In [ ]:
# Check
paper_doll('Mississippi')

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [ ]:
def blackjack(a,b,c):
    pass

In [ ]:
# Check
blackjack(5,6,7)

In [ ]:
# Check
blackjack(9,9,9)

In [ ]:
# Check
blackjack(9,9,11)

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.

    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [ ]:
def summer_69(arr):
    pass

In [ ]:
# Check
summer_69([1, 3, 5])

In [ ]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

In [ ]:
# Check
summer_69([2, 1, 6, 9, 11])

## CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [ ]:
def spy_game(nums):
    pass

In [ ]:
# Check
spy_game([1,2,4,0,0,7,5])

In [ ]:
# Check
spy_game([1,0,2,4,0,5,7])

In [ ]:
# Check
spy_game([1,7,2,0,4,5,0])

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [ ]:
def count_primes(num):
    pass

In [ ]:
# Check
count_primes(100)

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
def print_big(letter):
    pass

In [ ]:
print_big('a')

## Great Job!

# Lambda Expressions, Map, and Filter

Now its time to quickly learn about two built in functions, filter and map. Once we learn about how these operate, we can learn about the lambda expression, which will come in handy when you begin to develop your skills further!

## map function

The **map** function allows you to "map" a function to an iterable object. That is to say you can quickly call the same function to every item in an iterable, such as a list. For example:

In [ ]:
def square(num):
    return num**2

In [ ]:
num = "youssef"
square(num)

In [94]:
square(2)

4

In [95]:
my_nums = [1,2,3,4,5]

In [96]:
square(my_nums)

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

In [97]:
for i in range(len(my_nums)):
    my_nums[i] = square(my_nums[i])

In [98]:
my_nums

[1, 4, 9, 16, 25]

OR

In [99]:
my_nums = [1,2,3,4,5]
my_nums2 = [1,24,5]

In [100]:
map(square,my_nums,my_nums2) # take 2 param : function, iterable : list

In [102]:
# To get the results, cast to a list
list(map(square,my_nums))

[1, 4, 9, 16, 25]

The functions can also be more complex

In [103]:
def splicer(mystring):
    if len(mystring) % 2 == 0:
        return 'even'
    else:
        return mystring[0]

In [104]:
mynames = ['John','Cindy','Sarah','Kelly','Mike']

In [105]:
list(map(splicer,mynames))

['even', 'C', 'S', 'K', 'even']

## filter function

The filter function returns an iterator yielding those items of iterable for which function(item)
is true. Meaning you need to filter by a function that returns either True or False. Then passing that into filter (along with your iterable) and you will get back only the results that would return True when passed to the function.

In [107]:
num = 1
num % 2 == 1

True

In [119]:
def check_even(num):
    return num % 2 == 1

In [121]:
check_even(3)

True

In [111]:
check_even(nums) # what's the result ??

TypeError: unsupported operand type(s) for %: 'list' and 'int'

In [112]:
for i in range(len(nums)):
    nums[i] = check_even(nums[i])
print(nums)

[False, True, False, True, False, True, False, True, False, True, False]

But I want to filter numbers !!!

In [115]:
filtered_nums = []
for num in nums:
    if check_even(num):
        filtered_nums.append(num)

print(filtered_nums)

[1, 3, 5, 7, 9]

In [117]:
nums = [0,1,2,3,4,5,6,7,8,9,10]

OR

In [ ]:
check_even(nums)

In [118]:
list(filter(check_even,nums))

[1, 3, 5, 7, 9]

In [ ]:
filter(check_even,nums)

## Lambda Expressions



One of Pythons most useful (and for beginners, confusing) tools is the lambda expression. lambda expressions allow us to create "anonymous" functions. This basically means we can quickly make ad-hoc functions without needing to properly define a function using def.

Function objects returned by running lambda expressions work exactly the same as those created and assigned by defs. There is key difference that makes lambda useful in specialized roles:

**lambda's body is a single expression, not a block of statements.**

* The lambda's body is similar to what we would put in a def body's return statement. We simply type the result as an expression instead of explicitly returning it. Because it is limited to an expression, a lambda is less general that a def. We can only squeeze design, to limit program nesting. lambda is designed for coding simple functions, and def handles the larger tasks.

In Python, an anonymous function is a function that is defined without a name.

While normal functions are defined using the def keyword in Python, anonymous functions are defined using the lambda keyword.

Hence, anonymous functions are also called lambda functions.

Lets slowly break down a lambda expression by deconstructing a function:

In [ ]:
def square(num):
    result = num**2
    return result

In [ ]:
square(2)

We could simplify it:

In [ ]:
def square(num):
    return num**2

In [ ]:
square(2)

We could actually even write this all on one line.

In [ ]:
def square(num): return num**2

In [ ]:
square(2)

Note !

In [ ]:
i = 1
if i == 1 : print(i)

In [ ]:
i = 1
if i == 1 : print(i)
else : print(i+1)

In [122]:
i = 2
if i == 1 : print(i)
print(i+1)

3

In [ ]:
i = 2
if i == 1 : print(i)
  print(i+1)

In [ ]:
for i in range(10): print(i)

In [ ]:
def square(num): return num**2

This is the form a function that a lambda expression intends to replicate. A lambda expression can then be written as:

In [123]:
lambda num: num ** 2

In [132]:
# You wouldn't usually assign a name to a lambda expression, this is just for demonstration!
square = lambda num: num **2

In [133]:
square(2)

4

So why would use this? Many function calls need a function passed in, such as map and filter. Often you only need to use the function you are passing in once, so instead of formally defining it, you just use the lambda expression. Let's repeat some of the examples from above with a lambda expression

In [126]:
list(map(lambda num: num ** 2, my_nums))

[1, 4, 9, 16, 25]

In [127]:
list(filter(lambda n: n % 2 == 0,nums))

[0, 2, 4, 6, 8, 10]

Here are a few more examples, keep in mind the more comples a function is, the harder it is to translate into a lambda expression, meaning sometimes its just easier (and often the only way) to create the def keyword function.

**Lambda expression for grabbing the first character of a string:**

In [128]:
lambda s: s[0]

In [134]:
s="hello"
take_first_letter = lambda s: s[0]
take_first_letter(s)

'h'

**Lambda expression for reversing a string:**

In [130]:
rev=lambda s: s[::-1]
rev(s)

'olleh'

You can even pass in multiple arguments into a lambda expression. Again, keep in mind that not every function can be translated into a lambda expression.

In [131]:
add = lambda x,y : x + y
x = 1
y = 2
add(x,y)

3

### Example of Lambda Function in python
Here is an example of lambda function that doubles the input value.

In [ ]:
# program to show use of lambda function

double = lambda x:x * 2
print(double((5)))

In [ ]:
del double

In [ ]:
double(10)

In [ ]:
type(double)

In the above program, `lambda x: x * 2` is the lambda function. Here `x` is the argument and `x * 2` is the expression that gets evaluated and returned.

This function has no name. It returns a function object which is assigned to the identifier double. We can now call it as a normal function. The statement

In [ ]:
double = lambda x: x * 2

is nearly the same as:

In [ ]:
del double

In [ ]:
def double(x):
    return x*2


#### Map with lambda

The `map()` function in Python takes in a function and a list.

The function is called with all the items in the list and a new list is returned which contains items returned by that function for each item.

Here is an example use of map() function to double all the items in a list.

In [ ]:
# Program to double each item in a list using map()

my_list = [1, 5, 4, 6, 8, 11, 3, 12]

new_list = list(map(lambda x: x * 2 , my_list)) # map() function takes in a function and a list

print(new_list)

OR

In [ ]:
# Program to double each item in a list using map()

my_list = [1, 5, 4, 6, 8, 11, 3, 12]

def double(x):
    return x*2

new_list = list(map(double, my_list)) # double(x) doesn't work here !! => because it will return a variable

print(new_list)

OR

In [ ]:
def double(x):
    return x*2
for i in range(len(my_list)):
    my_list[i] = double(my_list[i])

In [ ]:
my_list

#### Filter with lambda

The `filter()` function in Python takes in a function and a list as arguments.

The function is called with all the items in the list and a new list is returned which contains items for which the function evaluates to True.

Here is an example use of filter() function to filter out only even numbers from a list.

In [ ]:
# Program to filter out only the even items from a list
my_list = [1, 5, 4, 6, 8, 11, 3, 12]

new_list = list(filter(lambda x: (x%2 == 0) , my_list)) # try to change filter with map
# filter() function takes in (in the parameters) : a function and a list as arguments.

print(new_list)

is nearly the same as:

In [ ]:
my_list = [1, 5, 4, 6, 8, 11, 3, 12]
filtered_list = [1, 5, 4, 6, 8, 11, 3, 12]  # filtered_list is a copy of my_list
def even(x):
    return x % 2 == 0

# Iterate over a copy of the list to avoid modifying it during iteration
for element in my_list[:]:  # [:] creates a shallow copy for iteration
    if not even(element):
        filtered_list.remove(element)  # remove by value instead of index

print(filtered_list)