# EDA in Pandas

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv("/content/world_population.csv")

In [ ]:
data.head(3)

In [ ]:
data.info()

In [ ]:
# Formatting column datatype
data['Rank'] = data['Rank'].astype(str)

In [ ]:
data.info()

In [ ]:
# Applying function to a column
data['Country'] = data['Country'].apply(lambda x: x.upper())

In [ ]:
data.head(3)

In [ ]:
# Saving the cleaned data
data.to_csv("cleaned_data.csv", index=False)

In [ ]:
df = pd.read_csv('/content/cleaned_data.csv', sep=',', header=0, index_col=0, skiprows=5, na_values='N/A')
# header=0: Specifies the row with index 0 to use as the column headers.
# index_col=0: Specifies the column to use as the row index 0
# skiprows=5: Skips the first N rows of the file when reading.
# na_values='N/A': Specifies additional values in the file that should be interpreted as NaN (missing values).
# if you do this na_values='No' => No will be considered as NaN

In [ ]:
df = pd.read_csv("/content/world_population.csv")

In [ ]:
df.sort_values(by="World Population Percentage", ascending=False).head(10)

In [ ]:
df.head()

In [ ]:
df[df['Continent'].str.contains('Oceania')]

In [ ]:
df.columns

In [ ]:
df3 = df2.transpose()
df3

# Filtering and Ordering

In [ ]:
df = pd.read_csv("/content/world_population.csv")

In [ ]:
df

In [ ]:
df[df['Rank'] <= 10]

In [ ]:
specific_countries = ['Bangladesh','Brazil']
df['Country'].isin(specific_countries)

In [ ]:
specific_countries = ['Bangladesh','Brazil']

df[df['Country'].isin(specific_countries)]

In [ ]:
df[df['Country'].str.contains('United')]

In [ ]:
df2 = df.set_index('Country')
df2

In [ ]:
df2.filter(items = ['Continent','CCA3'], axis = 1)

In [ ]:
df2.filter(items = ['Zimbabwe'], axis = 0)

In [ ]:
df2.filter(like = 'United', axis = 0)

In [ ]:
df2

In [ ]:
df2.loc['United States']

In [ ]:
df2.iloc[3]

In [ ]:
df[df['Rank'] < 10].sort_values(by=['Continent','Country'],ascending=[False,True])

# Group by and Aggregating

In [ ]:
df = pd.read_csv("/content/Flavors.csv")
df

In [ ]:
df.groupby('Base Flavor').count()

In [ ]:
df.groupby('Base Flavor').sum()

In [ ]:
df.drop(columns=['Flavor','Liked']).groupby('Base Flavor').mean()

In [ ]:
df.groupby('Base Flavor').mean()

In [ ]:
df.head()

In [ ]:
df.groupby('Base Flavor').agg({'Flavor Rating': ['mean','max','count','sum'], 'Texture Rating':['mean','max','count','sum'] })

In [ ]:
df.groupby(['Base Flavor','Liked']).agg({'Flavor Rating': ['mean','max','count','sum'] })

In [ ]:
df.groupby(['Base Flavor','Liked']).agg({'Flavor Rating': ['mean','max','count','sum'] , 'Texture Rating':['mean','max','count','sum']})

In [ ]:
df.groupby('Base Flavor').describe()

# Merge, Join, and Concatenate

In [ ]:
df1 = pd.read_csv("/content/LOTR.csv")
df1

In [ ]:
df2 = pd.read_csv("/content/LOTR 2.csv")
df2

In [ ]:
print(df1)
print(df2)

In [ ]:
df1.merge(df2, how = 'inner', on = ['FellowshipID', 'FirstName'])

In [ ]:
df1.merge(df2, how = 'outer')

In [ ]:
df1.merge(df2, how = 'left')

In [ ]:
df1.merge(df2, how = 'right')

In [ ]:
print(df1)
print(df2)

In [ ]:
df1.merge(df2, how = 'cross')

In [ ]:
print(df1)
print(df2)

In [ ]:
df1.join(df2,  lsuffix = '_Left',rsuffix = '_Right')

In [ ]:
df1.join(df2,  lsuffix = '_Left',rsuffix = '_Right', how = 'outer')

In [ ]:
print(df1)
print(df2)

In [ ]:
pd.concat([df1,df2], join = 'outer', axis = 1)

In [ ]:
data = {
    'Salesperson': ['Alice', 'Bob', 'Alice'],
    'Product': ['Phone', 'Laptop', 'Tablet'],
    'Month': ['January', 'January', 'February'],
    'Sales': [10, 15, 12]
}
df = pd.DataFrame(data)

In [ ]:
# Pivot the data: Salesperson as rows, Product as columns, and Sales as values
pivot_df = df.pivot(index='Salesperson', columns='Product', values='Sales')

In [ ]:
pivot_df

# Ex

Load the dataset "data" into a Pandas DataFrame.

Check for any missing data in the dataset.

Fill the missing age values with the mean age.

Drop rows where any data is missing.

In [ ]:
data = {
    'Name': ['John', 'Alice', 'Bob', 'Eve', 'Charlie'],
    'Age': [28, None, 25, 30, 40],
    'Salary': [50000, 70000, None, 60000, 75000],
    'Department': ['Engineering', 'HR', 'Engineering', 'HR', 'Engineering']
}

Load the dataset "data" into a Pandas DataFrame.

Calculate the total quantity sold for each category.

Find the average price of products in the "Clothing" category.

Sort the dataset by price in descending order.

In [ ]:
data = {
    'Product': ['Laptop', 'Phone', 'Shirt', 'Pants'],
    'Category': ['Electronics', 'Electronics', 'Clothing', 'Clothing'],
    'Price': [1000, 600, 40, 60],
    'Quantity': [10, 20, 50, 30]
}

Load the dataset "data" into a Pandas DataFrame.

Pivot the table so that each student is a row and subjects are columns.

Find the highest score in each subject.


Calculate the overall average score for each student.

In [ ]:
data_dict = {
    'Student': ['Alice', 'Bob', 'Charlie', 'Alice', 'Bob', 'Charlie'],
    'Subject': ['Math', 'Math', 'Math', 'Science', 'Science', 'Science'],
    'Score': [90, 80, 85, 92, 88, 87]
}